table {
  border:2px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

caption {
  caption-side: bottom;
  padding-top: 1em;
}

thead {
  background-color: black;
  color: white;
}

th:nth-child(7),
th:last-child {
  font-size: smaller;
}

td, th {
  border:1px solid black;
}

col.time {
  background-color: grey;
  color: white;
  width:3em;
}

colgroup.weekdays {
  background-color:beige;
}

colgroup.weekend {
  background-color:#cfc;
  width: 4em;
  border: 3px solid green
}

th[scope=row]{
  color: white;
  text-align: right;
  padding-right: 0.2em;
}

tfoot td[colspan] {
  text-align: center;
}
